<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 text-center">
          <!-- Clickable image on the left -->
          <a href="https://fe.uni-lj.si/" target="_blank">
            <img src="/images/ul_fe_logotip.png" alt="Logo of Faculty of Electrical Engineering, University of Ljubljana" style="max-height: 40px;">
          </a>
        </div>
        <div class="col-md-8">
          <!-- Navigation links on the right -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://gauss.fe.uni-lj.si/">Katedra za mehatroniko</a></li>
            <li><a href="https://www.fe.uni-lj.si/">Fakulteta za elektrotehniko</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl }}/about">O strani</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

